.Weather {
max-width: 700px;
  margin: 40px auto 20px auto;
  padding:30px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.Weather h1 {
    font-size: 45px;
    font-weight: bolder;
}

.Weather h4 {
    font-size: 20px;
    padding-left: 20px;
}

.Weather i {
    padding-right: 15px;
}
.Weather canvas {
    padding-right: 10px;
    vertical-align: middle;
}

.Weather .degrees {
  display: inline;
  font-size: 60px;
  color: #3d84a8;
  vertical-align: middle;
  padding-right: 10px;
  
}
.Weather .TempDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
 }

.Weather .row {
  padding-top: 20px;
}

.Weather button {
    background-color:#3d84a8;
    border: 1px solid #3d84a8;
}

.Weather button:hover {
     background-color:#afcddb;
    border: 1px solid #0ca7f5;
    color: black;
    
}

.Weather .units {
    display: inline;
    font-size: 18px;
    position: relative;
    top:-15px;
}

.WeatherDegrees a {
    text-decoration:none;
     color:#3d84a8;
}

.WeatherDegrees a:hover {
    color:#3d84a8;
    text-decoration: underline;
}

@media screen and (max-width: 575px) {
.Weather {
  margin: 10px auto; 
  padding: 10px;
}
.Weather h1 {
    font-size: 35px;
    text-align: center;
}
.Weather h4 {
    text-align: center;
    font-size: 16px;
}

.Weather .row {
  padding-top: 10px;
}
.Weather .col-8 {
    text-align: center;
}
.Weather .degrees {
  font-size: 40px;
}
.Weather .TempDetails {
  font-size: 12px;
}
.Weather .units {
    font-size: 12px;
    top:-10px;
}
.Weather form {
    width: 75%;
}
.Weather .form-control {
    font-size: 14px;
}
.Weather .btn {
    font-size: 14px;
}
}
@media screen and (max-width: 350px) {
    .Weather form {
    width: 70%;
}
.Weather h4 {
    text-align: center;
   
}
.Weather .TempDetails {
  font-size: 10px;
}
}
